{% extends 'glasgowclubnights/club_base.html' %}
{% load staticfiles %}
{% block body_block %}
    <div class="container-full">
        <header class="masthead">

            <div class="container">

                <div class="row">
                    <div class="col-md-3">
                    </div>

                    <div class="col-md-6">
                        <p style="text-align: center;"><img src="{{ MEDIA_URL }}bamboologo.png" class="img-circle"
                                                            class="img-responsive" alt="Bamboo" width="220px" height="220px"></p>
                    </div>

                    <div class="col-md-3">
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <p style="text-align: center;"><a href="https://www.facebook.com/BambooGlasgow/"
                                                          class="btn btn-default btn-lg"><i
                                class="fa fa-facebook"> <span
                                class="network-name">Facebook</span></i></a>
                    </div>

                    <div class="col-md-4">
                        <p style="text-align: center;"><a href="https://twitter.com/BambooGlasgow"
                                                          class="btn btn-default btn-lg"><i
                                class="fa fa-twitter"> <span
                                class="network-name">Twitter</span></i></a>
                    </div>


                    <div class="col-md-4">
                        <p style="text-align: center;"><a href="https://www.instagram.com/bambooglasgow/"
                                                          class="btn btn-default btn-lg"><i
                                class="fa fa-instagram"> <span
                                class="network-name">Instagram</span></i></a>
                    </div>
                    <p></p>

                </div>

            </div>

            <div class="container">

                <div class="row">
                    <div class="col-md-6">
                        <div class="thumbnail">
                            <img src="{{ MEDIA_URL }}bambooclub.jpg" alt="Bamboo" class="img-responsive">
                        </div>
                    </div>
                    <div class="row">
                        <div class="infoBackground">
                            <div class="col-md-6">
                                <h1 style="color: white;"> Bamboo Night Club</h1>
                                <h4 style="color: white;">>
                                    Come down for the best student Wednesday night in Glasgow!

                                    With drinks from £1 and and free entry for students before Midnight you
                                    are sure to have a great night.
                                </h4>
                                <h4 style="color: white;">>
                                    Dance your Friday night away and GET LOOSE!

                                    With drinks form £1.50, students going free all night and our resident DJs,
                                    you will be bouncing from the moment you enter until closing.


                                </h4>
                                <h4 style="color: white;">>
                                   Ready for the best Sunday night sesh availiable in Glasgow?
                                    Disco Badger at Bamboo is definitely the one for you.

                                    With drinks from £1.50 and trade/retail staff going for free all night,
                                    you will be sure to have a great night with everyone else who agrees that Sundays
                                    are the best days for a night out.
                                </h4>


                                <button type="button" class="btn btn-info btn-lg" data-toggle="modal"
                                        data-target="#myModal">
                                    Opening Hours
                                </button>

                                <div class="modal fade" id="myModal" role="dialog">
                                    <div class="modal-dialog">

                                        <!-- Modal content-->
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;
                                                </button>
                                                <h4 class="modal-title">Bamboo Opening Hours</h4>
                                            </div>
                                            <div class="modal-body">

                                                <p>Weekly</p>
                                                <table class="table">
                                                    <thead>
                                                    <tr>
                                                        <th>Day</th>
                                                        <th>Opens at</th>
                                                        <th>Closes at</th>

                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr>
                                                        <td>Wednesday</td>
                                                        <td>10.30</td>
                                                        <td>03.00</td>

                                                    </tr>
                                                    <tr>
                                                        <td>Friday</td>
                                                        <td>10.30</td>
                                                        <td>03.00</td>

                                                    </tr>
                                                    <tr>
                                                        <td>Saturday</td>
                                                        <td>10.30</td>
                                                        <td>03.00</td>

                                                    </tr>
                                                    <tr>
                                                        <td>Sunday</td>
                                                        <td>10.30</td>
                                                        <td>03.00</td>

                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close
                                                </button>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </header>

    </div>
    <div class=container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8956.045393835931!2d-4.26235372655214!3d55.862469510398064!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x488844209a848bd1%3A0x4ee847ffd0fb92f3!2sBamboo!5e0!3m2!1sen!2suk!4v1520427329400"
                width="100%;" height="50%;" frameborder="0" style="position:absolute;" allowfullscreen></iframe>
    </div>




{% endblock %}