{% extends 'glasgowclubnights/club_base.html' %}
{% load staticfiles %}
{% block body_block %}

    <header class="masthead">

        <div class="container">

            <div class="row">
                <div class="col-md-3">
                </div>

                <div class="col-md-6">
                    <p style="text-align: center;"><img src="{{ MEDIA_URL }}kushionLogo.jpg" class="img-circle"
                                                        class="img-responsive" alt="Kushion"></p>
                </div>

                <div class="col-md-3">
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <p style="text-align: center;"><a href="https://www.facebook.com/kushionglasgow/"
                                                      class="btn btn-default btn-lg"><i
                            class="fa fa-facebook"> <span
                            class="network-name">Facebook</span></i></a>
                </div>

                <div class="col-md-4">
                    <p style="text-align: center;"><a href="https://twitter.com/KUSHIONCLUB"
                                                      class="btn btn-default btn-lg"><i
                            class="fa fa-twitter"> <span
                            class="network-name">twitter</span></i></a>
                </div>


                <div class="col-md-4">
                    <p style="text-align: center;"><a href="https://www.instagram.com/kushionglasgow/"
                                                      class="btn btn-default btn-lg"><i
                            class="fa fa-instagram"> <span
                            class="network-name">instagram</span></i></a>
                </div>
                <p></p>

            </div>

        </div>

        <div class="container">

            <div class="row">
                <div class="col-md-6">
                    <div class="thumbnail">
                        <img src="{{ MEDIA_URL }}kushion.jpg" alt="Kushion" class="img-responsive">
                    </div>
                </div>
                <div class="row">
                    <div class="infoBackground">
                        <div class="col-md-6">
                            <h1 style="color: white;"> Kushion Night Club</h1>
                            <h4 style="color: white;">> Glasgow’s biggest student night! Considered a Tuesday night
                                institution for students,
                                with
                                a
                                whole weekend worth of fun packed into one night.

                                Cheap drinks, great music and the opposite sex, definitely worth missing lectures
                                for!

                                Keep a look out for weekly events.

                                Drinks from £1</h4>
                            <h4 style="color: white;">>
                                Let your inhibitions go at Loco, our premium student night. Featuring weekly events,
                                guest
                                DJs
                                and midweek booth package offers.

                                Students Go Free. £1 Drinks

                                Every Thursday


                            </h4>
                            <h4 style="color: white;">
                                Milk has arrived in Glasgow, it’s good for your bones and even better for your soul.

                                We’ve teamed up with international party starters Milk to bring you the Friday
                                nights
                                full
                                of
                                house, hip hop, disco and lots of the white stuff.

                                Milkshake cocktails available all night.


                            </h4>


                            <button type="button" class="btn btn-info btn-lg" data-toggle="modal"
                                    data-target="#myModal">
                                Opening Hours
                            </button>

                            <div class="modal fade" id="myModal" role="dialog">
                                <div class="modal-dialog">

                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;
                                            </button>
                                            <h4 class="modal-title">Kushion Opening Hours</h4>
                                        </div>
                                        <div class="modal-body">

                                            <p>Weekly</p>
                                            <table class="table">
                                                <thead>
                                                <tr>
                                                    <th>Day</th>
                                                    <th>Opens at</th>
                                                    <th>Closes at</th>

                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td>Tuesday</td>
                                                    <td>10.30</td>
                                                    <td>03.00</td>

                                                </tr>
                                                <tr>
                                                    <td>Thursday</td>
                                                    <td>10.30</td>
                                                    <td>03.00</td>

                                                </tr>
                                                <tr>
                                                    <td>Friday</td>
                                                    <td>10.30</td>
                                                    <td>03.00</td>

                                                </tr>
                                                <tr>
                                                    <td>Saturday</td>
                                                    <td>10.30</td>
                                                    <td>03.00</td>

                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="container">
            <h2 style="text-align:center; color:white">Club Nights at Kushion</h2>
            <hr>
            <div class="row">
                <div class="col-md-5">
                    <img src="{{ MEDIA_URL }}juicytuesday.png"
                         alt="juicy tuesday" width="50%" height="50%">
                </div>
                <div class="col-md-4">
                    <img src="{{ MEDIA_URL }}locothursday1.png"
                         alt="loco" width="60%" height="60%">
                </div>
                <div class="col-md-3">
                    <img src="{{ MEDIA_URL }}milkfriday.png"
                         alt="milk" width="60%" height="60%">
                </div>


            </div>
        </div>


        <div class="container">
            <h2 style="text-align:center; color:white">Reviews At Kushion</h2>
            <hr>
            <div class="row">
                <br>
                <h4>Kushion Reviews</h4>
                <div class="col-md-5">
                    <img src="{{ MEDIA_URL }}juicytuesday.png"
                         alt="juicy tuesday" width="50%" height="50%">
                </div>
                <div class="col-md-4">
                    <img src="{{ MEDIA_URL }}locothursday1.png"
                         alt="loco" width="60%" height="60%">
                </div>
                <div class="col-md-3">
                    <img src="{{ MEDIA_URL }}milkfriday.png"
                         alt="milk" width="60%" height="60%">
                </div>
            </div>
        </div>
    </header>



    <div class=container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4478.383611572899!2d-4.257606775056638!3d55.85933851205186!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4888469f7a11e4ab%3A0xdcdc027b5e01dc90!2sLa+Cheetah+Club!5e0!3m2!1sen!2suk!4v1520428039891"
                width="100%;" height="50%;" frameborder="0" style="position:absolute;" allowfullscreen></iframe>
    </div>


{% endblock %}