<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
	<head>
		<meta charset = "utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!--initial scale 1 is the default for when the page loads

		<link rel="stylesheet" href="Workspace\glasgow_club_nights\bootstrap\css\bootstrap.min.css">
		<script src="Workspace\glasgow_club_nights\bootstrap\js\jquery.min.js"></script>
		<script src="Workspace\glasgow_club_nights\bootstrap\js\bootstrap.min.js"></script>

		-->

	</head>

	<body>
    <h1>
        Hello
    </h1>
    <div class="container">
        <p>Hello World</p>
    </div>

    </body>
</html>

