<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<script src='{% static "js/search.js" %}'></script>
{% load gcn_template_tags %}
{% block nav_block %}
    <head>
        <title>Glasgow Club Nights</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Internal custom style sheets -->
        <link rel="stylesheet" type="text/css" href="../../static/club.css">
        <link rel="stylesheet" type="text/css" href="../../static/home.css">

        <!-- External stylesheet links -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet"
              id="bootstrap-css">
        <link href="https://fonts.googleapis.com/css?family=Oswald:700|Patua+One|Roboto+Condensed:700" rel="stylesheet">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet"
              id="bootstrap-css">

        <!-- External script links -->
        <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
        <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
        <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <!-- Add icon for star library -->
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="http://v4-alpha.getbootstrap.com/examples/signin/signin.css"
        <link href="http://v4-alpha.getbootstrap.com/examples/signin/signin.css"
              rel="stylesheet">
        <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    </head>

    <body>
    {% if request.user.username == "kushion" %} <!-- Club owner authentication -->

    <!-- Code for navigation bar -->
        <section id="navbar">

            <nav class="navbar navbar-inverse">

                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand">Glasgow Club Nights</a>
                    </div>
                    <ul class="nav navbar-nav">

                        <!-- Links for nav bar -->
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li><a href="{% url 'club_list' %}">Club List</a></li>
                        <li><a href="{% url 'add_night' %}">Add New Night</a></li>
                        <li><a href="{% url 'about_us' %}">About Us</a></li>
                        <li><a href="{% url 'contact_us' %}">Contact Us</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-search"></span></a></li>
                        <li></li>
                        <li style="float:right" class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ user.username }}
                                <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'logout' %}">Logout</a></li>


                            </ul>
                        </li>
                    </ul>
                     <div class="nav navbar-form navbar-right">
                         <!-- HTML for search bar -->
                        <input type="text" placeholder="Search.." id="search">

                        <button type="button" onclick="search()">Submit</button>
                    </div>
                </div>
            </nav>
        </section>


    {% elif user.is_authenticated %} <!-- Registered user authentication -->

    <!-- Code for navigation bar -->
        <section id="navbar">
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand">Glasgow Club Nights</a>
                    </div>
                    <ul class="nav navbar-nav">

                        <!-- Links for nav bar -->
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li><a href="{% url 'club_list' %}">Club List</a></li>
                        <li><a href="{% url 'reviews' %}">Make a Review</a></li>
                        <li><a href="{% url 'about_us' %}">About Us</a></li>
                        <li><a href="{% url 'contact_us' %}">Contact Us</a></li>
                        <li></li>
                        <li style="float:right" class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ user.username }}
                                <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'logout' %}">Logout</a></li>

                            </ul>
                        </li>
                    </ul>
                    <!-- HTML for search bar -->
                     <div class="nav navbar-form navbar-right">
                        <input type="text" placeholder="Search.." id="search">

                        <button type="button" onclick="search()">Submit</button>
                    </div>
                </div>
            </nav>
        </section>

    {% else %} <!-- Authentication for normal user -->

    <!-- Code for navigation bar -->
        <section id="navbar">
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand">Glasgow Club Nights</a>
                    </div>
                    <ul class="nav navbar-nav">
                        <!-- Nav bar links -->
                        <li class="active"></li>
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li><a href="{% url 'login' %}">Login</a></li>
                        <li><a href="{% url 'club_list' %}">Club List</a></li>
                        <li><a href="{% url 'about_us' %}">About Us</a></li>
                        <li><a href="{% url 'contact_us' %}">Contact Us</a></li>
                        <li> {{ user.username }}</li>


                    </ul>
                    <!-- HTML for search bar -->
                        <div class="nav navbar-form navbar-right">
                        <input type="text" placeholder="Search.." id="search">

                        <button type="button" onclick="search()">Submit</button>
                    </div>
                </div>
            </nav>
        </section>

    {% endif %}



{% endblock %}

{% block body_block %}

{% endblock %}