<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
{% block nav_block %}
    <head>
        <title>Glasgow Club Nights</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="../../static/home.css" type="text/css" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet"
              id="bootstrap-css">

        <link href="https://fonts.googleapis.com/css?family=Oswald:700|Patua+One|Roboto+Condensed:700" rel="stylesheet">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    </head>
    <body>

    <section id="navbar">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand">Glasgow Club Nights</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'club_list' %}">Club List</a></li>
                    <li><a href="{% url 'reviews' %}">Make a Review</a></li>
                    <li><a href="{% url 'about_us' %}">About Us</a></li>
                    <li><a href="{% url 'contact_us' %}">Contact Us</a></li>

                </ul>
                <form class="nav navbar-form navbar-right" action="/action_page.php">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search..">
                        <button type="submit" class="btn btn-default">Submit</button>
                    </div>


                </form>
            </div>


        </nav>
    </section>
{% endblock %}

{% block body_block %}

{% endblock %}