{% extends 'glasgowclubnights/main_base.html' %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="../../static/home.css">



{% block body_block %}
    <div class="container">
        <div class="rows">
            <h1>Leave a review</h1>

        </div>

    </div>

    <br>
    <div class="container">
        <div class="form-group">
            <label for="exampleFormControlSelect1">Please Select Club</label>
            <select class="form-control" id="exampleFormControlSelect1">
                <option>bamboo</option>
                <option>cathouse</option>
                <option>firewater</option>
                <option>garage</option>
                <option>kokomo</option>
                <option>kushion</option>
                <option>laCheetah</option>
                <option>mango</option>
                <option>polo</option>
                <option>sanctuary</option>
                <option>shimmy</option>
                <option>subclub</option>
                <option>swg3</option>
                <option>viper</option>

            </select>
        </div>

    </div>


        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>





{% endblock %}
