<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
{% block nav_block %}
    <head>
        <title>Glasgow Club Nights</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="../../static/club.css">
        <link rel="stylesheet" type="text/css" href="../../static/home.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet"
              id="bootstrap-css">

        <link href="https://fonts.googleapis.com/css?family=Oswald:700|Patua+One|Roboto+Condensed:700" rel="stylesheet">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet"
              id="bootstrap-css">
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <!-- Add icon for star library -->
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="http://v4-alpha.getbootstrap.com/examples/signin/signin.css"
              rel="stylesheet">


        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    </head>
    <body>

    {% if user.is_authenticated %}
        <section id="navbar">
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand">Glasgow Club Nights</a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li><a href="{% url 'club_list' %}">Club List</a></li>
                        <li><a href="{% url 'reviews' %}">Make a Review</a></li>
                        <li><a href="{% url 'about_us' %}">About Us</a></li>
                        <li><a href="{% url 'contact_us' %}">Contact Us</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-search"></span></a></li>
                        <li></li>
                        <li style="float:right" class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ user.username }}
                                <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'logout' %}">Logout</a></li>

                            </ul>
                        </li>
                    </ul>
                    <form class="nav navbar-form navbar-right" action="/action_page.php">


                        <div class="form-group">

                            <input type="text" class="form-control" placeholder="Search.." id="search">
                            <button type="submit" class="btn btn-default" id="submit">Submit</button>

                        </div>

                        </li>
                    </form>

                </div>
            </nav>
        </section>

    {% else if user.is_authenticated and if user.group(Clubs) %}
        <section id="navbar">
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand">Glasgow Club Nights</a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li><a href="{% url 'club_list' %}">Club List</a></li>
                        <li><a href="{% url 'add_night' %}">Add New Night</a></li>
                        <li><a href="{% url 'reviews' %}">Make a Review</a></li>
                        <li><a href="{% url 'about_us' %}">About Us</a></li>
                        <li><a href="{% url 'contact_us' %}">Contact Us</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-search"></span></a></li>
                        <li></li>
                        <li style="float:right" class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ user.username }}
                                <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'logout' %}">Logout</a></li>


                            </ul>
                        </li>
                    </ul>
                    <form class="nav navbar-form navbar-right" action="/action_page.php">


                        <div class="form-group">

                            <input type="text" class="form-control" placeholder="Search.." id="search">
                            <button type="submit" class="btn btn-default" id="submit">Submit</button>

                        </div>

                        </li>
                    </form>

                </div>
            </nav>
        </section>

    {% else %}
        <section id="navbar">
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand">Glasgow Club Nights</a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li class="active">
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li><a href="{% url 'login' %}">Login</a></li>
                        <li><a href="{% url 'club_list' %}">Club List</a></li>
                        <li><a href="{% url 'about_us' %}">About Us</a></li>
                        <li><a href="{% url 'contact_us' %}">Contact Us</a></li>
                        <li> {{ user.username }}</li>


                    </ul>
                    <form class="nav navbar-form navbar-right" action="/action_page.php">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search.." id="search">
                            <button type="submit" class="btn btn-default" onclick="search()" id="submit">Submit</button>

                        </div>

                    </form>
                </div>
            </nav>
        </section>


    {% endif %}

    <script>
    //Allows the enter key to work for the search box
        document.getElementById('search').onkeydown = function (event) {
            if (event.keyCode == 13) {
                search();
            }
        }
    </script>

    <script>
    //Redirects user to relevant page if they correctly search for a club
        function search() {
            var value = document.getElementById('search').value;

            var clubs = ["bamboo", "cathouse", "firewater", "garage", "hive", "kokomo", "kushion", "la cheetah", "lacheetah",
                "mango", "polo", "sanctuary", "shimmy", "subclub", "sub club", "swg3", "viper"];

            for (club in clubs) {
                if (value == club) {
                    window.location.replace({% url %} +value);
                }
                else {
                    window.confirm("Your search has not matched the name of a club in our Repo, please try again.");
                }
            }

        }
    </script>
{% endblock %}

{% block body_block %}

{% endblock %}