header.masthead {
    background-image: url(images/top.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;


}

header.mastheadMain {
    background-image: url(images/Beach.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;


}

header.mastheadBottom {
    background-image: url(images/glasgow.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;


}


#navbar_club .navbar-brand{
    color: white;
}

#navbar_club .ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: white;
}

#navbar_club li a {
    display: block;
    color: white;
    text-decoration: none;
}

#navbar_club li a.active {
    background-color: green;
    color: black;
}

#navbar_club li a:hover:not(.active) {
    background-color: grey;
    color: black;
}