header.masthead {
    background-image: url(images/kushionWorking.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

header.mastheadKokomo {
    background-image: url(images/kokomo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

header.mastheadFirewater {
    background-image: url(images/firewater.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

header.mastheadGarage {
    background-image: url(images/garage.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

header.mastheadHive {
    background-image: url(images/hive.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

header.mastheadLaCheetah {
    background-image: url(images/lacheetah.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

header.mastheadMango {
    background-image: url(images/mango.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

header.mastheadPolo {
    background-image: url(images/polo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

header.mastheadSanctuary {
    background-image: url(images/thesancturary.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

header.mastheadSubclub {
    background-image: url(images/subclub.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

header.mastheadSwg3 {
    background-image: url(images/kokomo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

header.mastheadViper {
    background-image: url(images/viper.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

header.mastheadBamboo {
    background-image: url(images/Bamboo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

#navbar_club .navbar-brand{
    color: white;
}

#navbar_club .ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: white;
}

#navbar_club li a {
    display: block;
    color: white;
    text-decoration: none;
}

#navbar_club li a.active {
    background-color: green;
    color: black;
}

#navbar_club li a:hover:not(.active) {
    background-color: grey;
    color: black;
}